extend layout

block pageScript
    script.
        pig.init("acct");

block content
    h3
        | #{account.owner}'s account

    p
        | Balance: $#{account.balance}

    div.latest-trans
        p Last #{transactions.length} transactions
        ul
            - each trans in transactions
                li
                    span.amount $#{trans.amount} 
                    span.date #{trans.dateDisplay} 
                    span.description #{trans.description} 
                    span.category #{categories[trans.category]}

