extend layout

block pageScript
    script.
        pig.init("add");

block content
    section.add-transaction
        form(action="/transaction/add", method="POST")
            p 
                | Adding expense in <em>#{account.owner}</em>'s account...

            div.group
                label(for="amount") Expense
                input(name="amount", id="amount", type="number", min="0.01", placeholder="13.56", autofocus, required)
            div.group
                label(for="date") Date
                input(name="date", id="date", type="date", value="#{today}", placeholder="m/d/y", required)
            div.group
                label(for="description") Description
                input(name="description", id="description", type="text", placeholder="optional")
            div.group
                label(for="category") Category
                select(name="category", id="category", size="10", required)
                    - each category, index in categories
                        option(value="#{index}")
                            | #{category}

            div.actions
                input(name="account", type="hidden", value="#{account.id}")
                input(type="submit", value="Add")
