!!!5
html
    head
        meta(charset="utf-8")
        title #{title} | Piggy Tracker

        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        
        block styles
            link(href="/style/jquery.mobile-1.3.2.min.css", rel="stylesheet", type="text/css")
            link(href="/style/site.css", rel="stylesheet", type="text/css")

        mixin footer(page, linkPrefix)
            - var theme = { account: (page==="account") ? "b" : "a", expense: (page==="expense") ? "b" : "a", deposit: (page==="deposit") ? "b" : "a", report: (page==="report") ? "b" : "a" }
            - linkPrefix = (linkPrefix || "")
            - var ajax = (linkPrefix.length) ? "false" : "true";
            div(data-theme="a", data-role="footer", data-position="fixed")
                div(data-role="navbar", data-iconpos="top")
                    ul
                        li
                            a(href="#{linkPrefix}#page_account", data-transition="slide", data-theme="#{theme.account}", data-icon="home", data-ajax="#{ajax}")
                                | Account
                        li
                            a(href="#{linkPrefix}#page_expense", data-transition="slide", data-theme="#{theme.expense}", data-icon="edit", data-ajax="#{ajax}")
                                | Expense
                        li
                            a(href="#{linkPrefix}#page_deposit", data-transition="slide", data-theme="#{theme.deposit}", data-icon="plus", data-ajax="#{ajax}")
                                | Deposit
                        li
                            a(href="#{linkPrefix}#page_report", data-transition="slide", data-theme="#{theme.report}", data-icon="bars", data-ajax="#{ajax}")
                                | Report

    body

        block content
            p
                | Coming Soon...

        block scripts
            script(src="/script/vendor/jquery-1.10.2.min.js")
            script(src="/script/vendor/jquery.mobile-1.3.2.min.js")
            script(src="/script/vendor/jquery.flot.min.js")
            script(src="/script/vendor/jquery.flot.pie.min.js")
            script(src="/script/client.js")

        block pageScript
            script.
                pig.init();
