extend layout

block content
    div(data-role="page", id="page_account")
        div(data-theme="a", data-role="header", data-position="fixed")
            h3 #{account.owner}'s account
        div(data-role="content")
            aside.messages

            - var balanceClass = (account.balance > 0) ? "positive" : "negative"
            h4.accountBalance
                | Balance: 
                span(class="amount #{balanceClass}") $#{account.balance.toFixed(2)}

            h4 
                | Last <span class="recentTransCount">#{transactions.length}</span> Transactions:
            div.recentTrans(data-role="collapsible-set", data-theme="b", data-content-theme="c")
                - each trans in transactions
                    div(data-role="collapsible")
                        h3 $#{trans.amount} #{trans.dateDisplay}
                        p.description
                            | #{trans.description}
                        p.category
                            | #{categories[trans.category]}
        +footer("account")
        

    div(data-role="page", id="page_expense")
        div(data-theme="a", data-role="header", data-position="fixed")
            h3 #{account.owner}'s account
        div(data-role="content")
            h3 Add Expense

            aside.messages

            form(action="/transaction/add", method="POST")
                div.inlineField(data-role="fieldcontain")
                    label(for="amount") Amount
                    input.expense(name="amount", id="amount", type="number", min="0", placeholder="13.56", autofocus, required, data-mini="true")
                
                div.inlineField(data-role="fieldcontain")
                    label(for="date") Date
                    input(name="date", id="date", type="date", value="#{today}", placeholder="m/d/y", required, data-mini="true")

                div(data-role="fieldcontain")
                    label(for="description") Description
                    input(name="description", id="description", type="text", placeholder="optional", data-mini="true")

                div(data-role="fieldcontain")
                    label(for="category") Category
                    select(name="category", id="category", required, data-native-menu="false", data-theme="b", data-mini="true")
                        - each category, index in categories
                            - if (index > 0)
                                option(value="#{index}")
                                    | #{category}

                div.actions
                    input(type="submit", value="Submit", data-theme="e", data-icon="check", data-iconpos="right")
                    input(name="account", type="hidden", value="#{account.id}")

        +footer("expense")


    div(data-role="page", id="page_deposit")
        div(data-theme="a", data-role="header", data-position="fixed")
            h3 #{account.owner}'s account
        div(data-role="content")
            h3 Add Deposit

            aside.messages

            form(action="/transaction/add", method="POST")
                div.inlineField(data-role="fieldcontain")
                    label(for="amount") Amount
                    input.deposit(name="amount", id="amount", type="number", min="0", placeholder="13.56", autofocus, required, data-mini="true")
                
                div.inlineField(data-role="fieldcontain")
                    label(for="date") Date
                    input(name="date", id="date", type="date", value="#{today}", placeholder="m/d/y", required, data-mini="true")

                div(data-role="fieldcontain")
                    label(for="description") Description
                    input(name="description", id="description", type="text", placeholder="optional", data-mini="true")

                div.actions
                    input(type="submit", value="Submit", data-theme="e", data-icon="check", data-iconpos="right")
                    input(name="account", type="hidden", value="#{account.id}")
                    input(name="category", type="hidden", value="0")
            
        +footer("deposit")


    div(data-role="page", id="page_report")
        div(data-theme="a", data-role="header", data-position="fixed")
            h3 #{account.owner}'s account
        div(data-role="content")
            h3 Report

            aside.messages

            p Coming soon!
            
        +footer("report")


block pageScript
    script
        pig.categories = "#{categories}".split(",");
    script.
        pig.init("main");
